*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #0496ea;
    letter-spacing: 5px;
    font-size: 40px;
    text-align: center;
}

p{
    font-family: system-ui;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}